:root {
  --primary: #ff5e00;
  --bg: #121212;
  --card-bg: #1e1e1e;
  --text: #ffffff;
  --text-light: #aaaaaa;
  --radius: 15px;
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
html { scroll-behavior: smooth; }
body {
  background-color: var(--bg);
  color: var(--text);
}
